:root {
    --sepia: #704214;
}

body {
    /*
    Wow!  It  took me around 40 minutes to figure out why there was a "hole"
    at the top of my browser  between the top edge of the header and the top
    edge of the browser window. It wasn¿t until I scrolled the window that I
    noticed a sliver only a few pixels in height through which I  could  see
    the rest of the content peeking through as it scrolled beneath the fixed
    header. Using the DevTools, I discovered that something  was  setting  a
    margin,  and  that  the  culprit  was  the body element! Apparently, the
    infamous "user agent" stylesheet sets a default margin of 8  pixels  for
    the  body element, which was pushing the header down by a few pixels and
    creating a gap between the top of the header and the edge of the window.
    To rectify that, I coded the following override:
    */
    margin-top: 0; /* Override the default value for the the top margin of the body element. */
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-image: url("../../resources/images/SmallerWhiteVignette.jpg");
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
}

header {
    display: flex;
    position: fixed;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
    align-items: center;
    opacity: 0.9;
    background-color: var(--sepia);
    /*
    In  addition  to  being connected to "hover" selectors, three of the div
    elements on this page are hyperlinks. They are square  boxes  containing
    text. Their links are to external content. When selected, they open that
    content in a new tab. The function of the hover selector  is  to  invert
    the object's colors when the mouse cursor is over it.

    There  is a header element with a fixed position at the top of the page.
    When those elements are stacked (i.e., the link element is  beneath  the
    header),  the link element flickers erratically when the mouse cursor is
    hovering over the junction of the two  elements.  Conversely,  when  the
    mouse cursor hovers over any portion of the link element not obscured by
    the header, it behaves normally.  It's  almost  as  if  the  browser  is
    confused  about  which  element  has  focus, and responds by vacillating
    between them. With that theory in mind, I used the Z-index  property  to
    give  the  header element higher priority in the stack order. It appears
    to have worked.
    */
    z-index: 10;
}

    header img {
        height: 50px;
        margin-left: 10px;
    }

a {
    display: inline-flex;
    font-size: 22px;
    font-weight: normal;
    color: seashell;
    margin: 0 10px;
}

#mission {
    display: flex;
    margin-top: 70px;
    Height: 700PX;
    Width: 1200PX;
    justify-content: center;
    align-items: center;
    background-image: url("../../resources/images/img-mission-background.jpg");
}

#mission div {
    Width: 100%;
    Height: 150PX;
    Flex-grow: 0;
    background-color: #704214;
    opacity: 0.8;
}

#last-link,
#featured-tea {
    /*
    Replacing the black background with a lighter color presented a problem.
    Due  to  the  reduction  in  contrast,  some of the text elements became
    difficult to see. I experimented with a variety of font colors, but  the
    results were less than satisfactory. Eventually I decided to see whether
    I could enhance the text without changing the default color. That's what
    led me to text shadows. They are effective at enhancing the text without
    disrupting the color scheme.
    */
    text-shadow: 2px 2px #704214;
}


.tea-container {
    display: flex;
    width: 1000px;
    justify-content: center;
    flex-wrap: wrap;
}

.tea-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px;
}

.tea-item img {
    width: 300px;
    height: auto;
}

.tea-item h3 {
    margin-top: 15px;
}

h2,
h4 {
    text-align: center;
}

#locations {
    display: flex;
    flex-direction: column;
    height: 500px;
    Width: 1200PX;
    align-items: center;
    background-image: url("../../resources/images/img-locations-background.jpg");
}

.address-container a {
    text-decoration: none;
}

.address {
    display: inline-flex;
    width: 300px;
    height: 300px;
    line-height: 2.5;
    margin: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: Blue;
    box-shadow: 7px 7px 7px Black;
    opacity: 0.9;
}

.address:hover {
    color: Blue;
    background-color: Seashell;
    opacity: 1;
}

.address p::first-line {
    font-size: 1.17em; /* I believe this is the default size of HTML h3 elements. */
    font-weight: bold;
}

#contact {
    display: block;
    height: 225px;
    width: 1200px;
    margin-top: 20px;
    background-color: #704214;
    text-align: center;
    opacity: 0.9;
}

    #contact h6 {
        margin-left: 10px;
        text-align: left;
    }
