:root {
    --sepia: #704214;
}

body {
    /*
    Wow!  It  took me around 40 minutes to figure out why there was a "hole"
    at the top of my browser  between the top edge of the header and the top
    edge of the browser window. It wasn¿t until I scrolled the window that I
    noticed a sliver only a few pixels in height through which I  could  see
    the rest of the content peeking through as it scrolled beneath the fixed
    header. Using the DevTools, I discovered that something  was  setting  a
    margin,  and  that  the  culprit  was  the body element! Apparently, the
    infamous "user agent" stylesheet sets a default margin of 8  pixels  for
    the  body element, which was pushing the header down by a few pixels and
    creating a gap between the top of the header and the edge of the window.
    To rectify that, I coded the following override:
    */
    margin-top: 0; /* Override the default value for the the top margin of the body element. */
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-image: url("../../resources/images/WhiteVignette.jpg");
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
}

header {
    display: flex;
    position: fixed;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
    background-color: var(--sepia);
    z-index: 10;
}

    header img {
        height: 50px;
        margin-left: 10px;
    }

a {
    display: inline-flex;
    font-size: 22px;
    font-weight: normal;
    color: seashell;
    margin: 0 10px;
}

#mission {
    display: flex;
    margin-top: 70px;
    Height: 700PX;
    Width: 1200PX;
    justify-content: center;
    align-items: center;
    background-image: url("../../resources/images/img-mission-background.jpg");
}

    #mission div {
        Width: 100%;
        Height: 150PX;
        Flex-grow: 0;
        background-color: Black;
        opacity: 0.8;
    }

#featured-tea div {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
}

table.tea {
    margin: 10px;
}

td img {
    width: 300px;
    height: auto;
}

table caption {
    /*color: var(--sepia);*/
    color: Black;
    font-weight: bold;
}

h2,
h4 {
    text-align: center;
}

#locations {
    display: flex;
    flex-direction: column;
    height: 500px;
    Width: 1200PX;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-image: url("../../resources/images/img-locations-background.jpg");
}

.banner {
    display: inline-flex;
    width: 300px;
    height: 300px;
    line-height: 2.5;
    margin: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: Black;
    opacity: 0.9;
}

.banner-block a {
    text-decoration: none;
}

.banner:hover {
    color: Black;
    background-color: Yellow;
    opacity: 1;
}

.banner p::first-line {
    font-size: 1.17em; /* I believe this is the default size of HTML h3 elements. */
    font-weight: bold;
}

#contact {
    display: block;
    height: 225px;
    width: 1200px;
    margin-top: 20px;
    background-color: Black;
    text-align: center;
    opacity: 0.9;
}

    #contact h6 {
        margin-left: 10px;
        text-align: left;
    }
